<app-header></app-header>

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar " style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card box-register-N">
        <div class="card-body mb-5">
            <form class="form-horizontal form-material" id="loginform" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="createUser()">
                <a href="javascript:void(0)" class="text-center db promesa-logo"><img src="../../../assets/images/project-own/promesa-logo.jpg" alt="Home" /></a>
                <h2 class="box-title m-t-40 m-b-0 text-primary text-center">Registrate ahora</h2>


                <div class="form-group m-t-20">

                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Nombre" formControlName="name">
                    </div>
                    <div class="row">
                        <div class="col text-danger">
                            <p *ngIf="validField('name')">
                                El nombre es requerido
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Correo electrónico" formControlName="email">
                    </div>
                    <div class="row">
                        <div class="col text-danger">
                            <p *ngIf="validField('email')">
                                El correo es requerido, ejemplo user@user.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Contraseña" formControlName="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Repite la contraseña" formControlName="password2">
                    </div>

                    <div class="row">
                        <div class="col text-danger">
                            <p *ngIf="passwordMatch()">
                                Las contraeñas no coinciden
                            </p>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">

                            <input id="checkbox-signup" type="checkbox" formControlName="terms">

                            <label for="checkbox-signup"> Acepto todos los <a href="#">Términos</a></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-danger">
                            <p *ngIf="acceptTerms()">
                                Debes haceptar los terminos para continuar
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrate
            </button>
                    </div>
                </div>

                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>¿Ya tienes una cuenta? <a routerLink="/login" class="text-info m-l-5"><b>Inicia sesión</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->