<div id="header1" class="card mb-0">
    <div class="row no-gutters">
        <div class="col-md-4">

            <div class="card-body">
                <h5 class="card-title">PROMESA EL SALVADOR</h5>
                <p class="card-text">
                    Es la empresa lider en fabricación y comercializacion de productos metalicos en todo El Salvador
                    Es la empresa lider en fabricación y comercializacion de productos metalicos en todo El Salvador
                    Es la empresa lider en fabricación y comercializacion de productos metalicos en todo El Salvador
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <img src="../../../assets/images/imagen-promesa.png" class="card-img" alt="...">
        </div>
    </div>
</div>

<div id="header2" class="card">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="../../../assets/images/imagen-promesa.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Es la empresa lider en fabricación y comercializacion de productos metalicos en todo El Salvador
                    Es la empresa lider en fabricación y comercializacion de productos metalicos en todo El Salvador
                    Es la empresa lider en fabricación y comercializacion de productos metalicos en todo El Salvador
                </p>
            </div>
        </div>
    </div>
</div>