<div class="container">
    <form class="mid-form" #productForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="code">codigo del producto:</label>
            <input type="text" id="title" name="code" #code="ngModel" [(ngModel)]='product.code' required />
        </div>
        <div class="form-group">
            <label for="name">Nombre del producto</label>
            <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]='product.name'
                required />
        </div>


        <div class="form-group">
            <label for="category">categoria a la que pertenece</label>
            <input type="text" id="category" name="category" #category="ngModel" [(ngModel)]='product.category'
                required />
        </div>


        <div class="form-group">
            <label for="image">Imagen del producto:</label>
            <input type="file" id="image" name="image" #image="ngModel" [(ngModel)]='product.image'
                required />
        </div>




        <div class="clearfix"></div>

        <input type="submit" value="guardar" class="btn btn-primary">
    </form>
</div>