<div class="container">
    <div class="card-title">
        <h1>Puedes contactarnos en los siguientes medios</h1>
    </div>
    <div class="row container">
        <ul>
            <li>
                <a href="">Facebook</a>
            </li>

            <li>
                <a href="">Whatsapp</a>
            </li>
            <li>
                <a href="">Email</a>
            </li>
            <li>
                <a href="">Teléfono</a>
            </li>
        </ul>



        
    </div>
</div>