<app-navbar></app-navbar>

<app-header></app-header>

<div class="p-0 mt-0 main-content">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-10">

        <div class="main-body" class="card-body">
          <div class="container">
            <form>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationDefault01">Primer Nombre</label>
                  <input type="text" class="form-control" id="validationDefault01" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationDefault02">Segundo nombre</label>
                  <input type="text" class="form-control" id="validationDefault02" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationDefault02">Apellidos</label>
                  <input type="text" class="form-control" id="validationDefault03" required>
                </div>

                <div class="form-row">
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault01">DUI</label>
                    <input type="text" class="form-control" id="validationDefault01" required>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault02">Genero</label>
                    <select class="custom-select" id="drop" required>
                      <option default>...</option>
                      <option value="">Masculino</option>
                      <option value="">Femenino</option>
                    </select>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault02">Telefono 1</label>
                    <input type="text" class="form-control" id="validationDefault03" required>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault02">Telefono 2</label>
                    <input type="text" class="form-control" id="validationDefault03" required>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="validationDefault03">Direccion 1</label>
                  <textarea type="text" class="form-control" id="validationDefault04" required></textarea>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationDefault03">Direccion 2</label>
                  <textarea type="text" class="form-control" id="validationDefault04" required></textarea>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationDefault05">Correo Electronico</label>
                  <input type="email" class="form-control" id="validationDefault06" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationDefault05">Contraseña</label>
                  <input type="password" class="form-control" id="validationDefault06" required>
                </div>
              </div>
              <button class="btn btn-primary" type="submit">Registrarme</button>
            </form>
          </div>
        </div>
      </div>
      <div id="main-sidebar" class="col-md-2 p-3">

      </div>
    </div>
  </div>

</div>


<app-footer-top></app-footer-top>
<app-footer></app-footer>
