<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->

        <a routerLink="/{{param}}">
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand">
                    <!-- Logo icon --><b>
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="../../../assets/images/project-own/logo1-white.png" alt="homepage"
                            class="dark-logo" />
                        <!-- Light Logo icon -->
                        <img src="../../../assets/images/project-own/logo1-white.png" alt="homepage"
                            class="light-logo" />
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text --><span>
                        <!-- dark Logo text -->
                        <img src="../../../assets/images/project-own/logo-white.png" alt="homepage" class="dark-logo" />
                        <!-- Light Logo text -->
                        <img src="../../../assets/images/project-own/logo-black.png" class="light-logo"
                            alt="homepage" />
                    </span>
                </a>
            </div>
            <!-- ============================================================== -->
        </a>



        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li *ngIf="!screen" class="nav-item"> <a class="nav-link nav-toggler
                        hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a>
                </li>
                <li *ngIf="!screen" class="nav-item"> <a class="nav-link sidebartoggler
                        hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a>
                </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item hidden-xs-down search-box"> <a
                        class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">Buscar</a>
                    <form class="app-search" (submit)="search( term.value )" id="form">
                        <input type="text" class="form-control" placeholder="Busca tus productos o categorías aquí"
                            autofocus #term>
                        <a class="srh-btn">
                            <i class="ti-close"></i>
                        </a>
                    </form>
                </li>


                <li class="nav-item hidden-xs-down">
                    <a class="nav-link hidden-sm-down waves-effect waves-dark"
                        routerLink="/{{param}}/products">Productos</a>
                </li>

               <!--  <li class="nav-item hidden-xs-down">
                    <a class="nav-link waves-effect waves-dark" [routerLink]="['services']">
                        Servicios
                    </a>
                </li> -->

                <li class="nav-item hidden-xs-down">
                    <a class="nav-link waves-effect waves-dark" [routerLink]="['about']">
                        Acerca de
                    </a>

                </li>

                <li class="nav-item hidden-xs-down">
                    <a class="nav-link waves-effect waves-dark" [routerLink]="['contact']">
                        Contacto
                    </a>
                </li>

                <li *ngIf="screen" class="nav-item dropdown mr-auto">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated
                        flipInY themecolor">
                        <ul class="dropdown-user">
                            <div *ngIf="user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img src="{{user.image}}" alt="user"></div>
                                        <div class="u-text">
                                            <h4>{{name}} {{second_name}}</h4>
                                            <p class="text-muted">{{user.email}}</p>
                                            <a [routerLink]="['/dashboard/profile']" class="btn btn-rounded btn-danger btn-sm">
                                                View Profile
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li role="separator" class="divider"></li>
                                <li>
                                    <a  class="text-themecolor cursor" (click)="logout()"><i class="fa fa-power-off"></i> Logout</a>
                                </li>

                                <li role="separator" class="divider"></li>


                            </div>

                            <div *ngIf="!user">
                                <li >
                                    <a  class="text-themecolor" routerLink="/login"><i class="fas fa-sign-in"></i> 
                                        Inciar Sesión
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                            </div>

                            <li>
                                <a class="text-themecolor" routerLink="/{{param}}/products">Productos</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a class="text-themecolor" routerLink="['services']">Servicios</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="text-themecolor">
                                <a class="text-themecolor" [routerLink]="['about']">Acerca de</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a class="text-themecolor" [routerLink]="['contact']">Contactanos</a>
                            </li>
                        </ul>
                    </div>
                </li>


                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li *ngIf="user && !screen" class="nav-item dropdown mr-auto">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="{{user.image}}" alt="user"
                            class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated
                        flipInY">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="{{user.image}}" alt="user"></div>
                                    <div class="u-text">
                                        <h4>{{name}} {{second_name}}</h4>
                                        <p class="text-muted">{{user.email}}</p>
                                        <a [routerLink]="['/dashboard/profile']" class="btn
                                            btn-rounded btn-danger btn-sm">View Profile
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a routerLinkActive="active" [routerLink]="['/dashboard/profile']">
                                    <i class="ti-user"></i> MyProfile
                                </a>
                            </li>

                            <li role="separator" class="divider"></li>
                            <li><a class="cursor" (click)="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>

                <li *ngIf="!user && !screen" class="nav-item dropdown mr-auto">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fad fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated
                        flipInY themecolor">
                        <ul class="dropdown-user">
                            <li><a routerLink="/login"><i class="fas
                                        fa-sign-in"></i> Inciar
                                    Sesión</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a routerLink="/register"><i class="fas
                                        fa-user-plus"></i> Registrase</a></li>
                        </ul>
                    </div>
                </li>


            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->